.header {
   display: flex;
   justify-content: center;
   align-items: center;
  }  
  h1 {
    display: flex;
    justify-content: center;
    text-shadow: -2px -2px #8daaf4;
    font-size: 4rem;
  }
  
  body {
    
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #191a1a, #acb6e5); 
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}